*{
    margin: 0;
    padding:0;
}

table{
    background-color: brown;
    color: aliceblue;
    width: 100%;
}

#heading{
    text-align: center;  /*align the content in center*/
    font-size: 50px;
    font-weight: 700;
}

#row1{
    background-color: green;
    text-align: center;  /*align the videos in center*/
} 

#row2{
    background-color:red;
    text-align: center;
}
table tr footer{
    background-color: blue;
}